.hc-suggestions-widget > ul {
	margin-bottom: 0;
	list-style: none;
}

.hc-suggestions-widget > ul li {
	border-radius: 5px 5px 0 0;
	border-width: 1px 1px 0 1px;
	margin: 0 0.25em;
}

.hc-suggestions-widget > ul li a {
	display: inline-block;
	padding: 0.25em 1em;
}

.hc-suggestions-widget .ui-state-active {
	background-color: #ececec;
}

.hc-suggestions-widget > ul li a:hover {
	text-decoration: none;
}

.hc-suggestions-widget .ui-tabs-nav li.ui-state-default a {
	color: black;
}

.hc-suggestions-widget .ui-tabs-panel.ui-widget-content {
	border: 1px solid #ececec;
	border-radius: 5px;
	padding: 1em 0;
}

.hc-suggestions-widget .button {
	margin: 2em 3em 1em;
}

.hc-suggestions-widget img {
	border-radius: 50%;
	max-height: 70px;
	width: auto;
}
.hc-suggestions-widget li {
	list-style: none;
	margin-top: 1em;
}
.hc-suggestions-widget li:first-child {
	margin-top: 0;
}
.hc-suggestions-widget li a {
	color: black;
	display: flex;
	text-decoration: none;
}
.hc-suggestions-widget .left {
	flex: 1;
}
.hc-suggestions-widget .right {
	flex: 3;
}
.hc-suggestions-widget .name,
.hc-suggestions-widget .title,
.hc-suggestions-widget .affiliation,
.hc-suggestions-widget .terms {
	display: block;
	line-height: 1.2em;
}
.hc-suggestions-widget .name {
	font-size: 1.2em;
}
.hc-suggestions-widget .title,
.hc-suggestions-widget .affiliation {
	font-size: 0.8em;
}
.hc-suggestions-widget .terms {
	line-height: 2em;
}
.hc-suggestions-widget .terms .term {
	border: 1px solid #ececec;
	border-radius: 5px;
	margin: 0 0.1em;
	padding: 0.1em 0.3em;
}
.hc-suggestions-widget .term:first-child {
	margin-left: 0;
}
